<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/style.css" />
    <link rel="stylesheet" href="../css/media-query/media-query.css" />
    <title>Fincore</title>
  </head>
  <body>
    <section class="section-animation">
      <nav class="desktop-menu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="next-gen.html">Platforms</a></li>
          <li><a href="animation.html">Background</a></li>
          <li><a href="background.html">Animation</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="working-with-us.html">Vacancies</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox" />
        <label for="checkbox" class="mobile-menu__btn"
          ><div class="mobile-menu__icon"></div
        ></label>
        <div class="mobile-menu__container">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home</a>
            </li>
            <li class="mobile-menu__item">
              <a href="next-gen.html" class="mobile-menu__link">Platforms</a>
            </li>
            <li class="mobile-menu__item">
              <a href="background.html" class="mobile-menu__link">Background</a>
            </li>
            <li class="mobile-menu__item">
              <a href="animation.html" class="mobile-menu__link">Animation</a>
            </li>
            <li class="mobile-menu__item">
              <a href="technology.html" class="mobile-menu__link">Technology</a>
            </li>
            <li class="mobile-menu__item">
              <a href="working-with-us.html" class="mobile-menu__link">Vacancies</a>
            </li>
            <li class="mobile-menu__item">
              <a href="contact.html" class="mobile-menu__link">Contact</a>
            </li>

          </ul>
        </div>
      </nav>
      <img
        class="section-animation__image-small-logo"
        src="../img/small-logo.png"
        alt="small-logo"
      />

      <img
        class="section-animation__image-draw"
        src="../img/tic-tac-man.png"
        alt="next-gen"
      />
      <!-- <img class="section-next-gen__image-logo" src="/img/small-logo.png" alt="logo"> -->
      <div class="section-animation__text">
        <h1>See how technology changed this man</h1>
        <p class="p1">
            Our innovative approach to the modern gaming<br class="br" />
            and regulatory market can be seen on this animation </p>
      </div>
    </section>
  </body>
</html>
