<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/style.css" />
    <link rel="stylesheet" href="../css/media-query/media-query.css" />
    <title>Fincore</title>
  </head>
  <body>
    <section class="section-background">
      <nav class="desktop-menu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="next-gen.html">Platforms</a></li>
          <li><a href="background.html">Background</a></li>
          <li><a href="animation.html">Animation</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="working-with-us.html">Vacancies</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox" />
        <label for="checkbox" class="mobile-menu__btn"
          ><div class="mobile-menu__icon"></div
        ></label>
        <div class="mobile-menu__container">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home</a>
            </li>
            <li class="mobile-menu__item">
              <a href="next-gen.html" class="mobile-menu__link">Platforms</a>
            </li>
            <li class="mobile-menu__item">
              <a href="background.html" class="mobile-menu__link">Background</a>
            </li>
            <li class="mobile-menu__item">
              <a href="animation.html" class="mobile-menu__link">Animation</a>
            </li>
            <li class="mobile-menu__item">
              <a href="technology.html" class="mobile-menu__link">Technology</a>
            </li>
            <li class="mobile-menu__item">
              <a href="working-with-us.html" class="mobile-menu__link"
                >Vacancies</a
              >
            </li>
            <li class="mobile-menu__item">
              <a href="contact.html" class="mobile-menu__link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <img
        class="section-background__image-small-logo"
        src="../img/small-logo.png"
        alt="small-logo"
      />

      <img
        class="section-background__image-draw"
        src="../img/weirdo-dancer.png"
        alt="next-gen"
      />
      <div class="section-background__text">
        <h1>Background</h1>
        <div class="paragraphs">
          <p class="p1">
            Fincore’s roots lie in risk management for investment banking. We’ve
            come a long way since our start in the late 80’
          </p>
          <p class="p2">
            The company’s directors, Predrag Popovic and Soeren Christensen, met
            while working in risk management at Nomura International in the late
            1980’s. They soon realised that there was a gap in the software
            available for this type of function. So they founded their own
            company called Finsoft, which rapidly developed a solid reputation
            for providing innovative and transformational software for the
            financial services industry.
          </p>
          <p class="p2">
            Finsoft next applied its risk management expertise to the gaming
            industry, creating a market-defining software platform; the first
            real time omni-channel for gaming and sports betting. Expansion
            followed into other sectors, including government and aerospace,
            through development of business collaboration, process management
            and workflow software.
          </p>
          <p class="p2">
            The gaming / betting part of the business was sold in 2007 as
            ‘Finsoft’, and the other businesses were spun-out into a new
            company. Then ‘Fincore’ was born. However, Fincore re-entered the
            gaming market in 2012 to great accolade. Our state-of-the-art gaming
            development software business is now known as
            <span><a href="https://www.fingaming.com/">Fingaming</a>.</span>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
