<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/style.css" />
    <link rel="stylesheet" href="../css/media-query/media-query.css" />
    <title>Fincore</title>
  </head>
  <body>
    <section class="section-contact">
      <nav class="desktop-menu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="next-gen.html">Platforms</a></li>
          <li><a href="background.html">Background</a></li>
          <li><a href="animation.html">Animation</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="working-with-us.html">Vacancies</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox" />
        <label for="checkbox" class="mobile-menu__btn"
          ><div class="mobile-menu__icon"></div
        ></label>
        <div class="mobile-menu__container">
          <ul class="mobile-menu__list">

            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home</a>
            </li>
            <li class="mobile-menu__item">
              <a href="next-gen.html" class="mobile-menu__link">Platforms</a>
            </li>
            <li class="mobile-menu__item">
              <a href="background.html" class="mobile-menu__link">Background</a>
            </li>
            <li class="mobile-menu__item">
              <a href="animation.html" class="mobile-menu__link">Animation</a>
            </li>
            <li class="mobile-menu__item">
              <a href="technology.html" class="mobile-menu__link">Technology</a>
            </li>
            <li class="mobile-menu__item">
              <a href="working-with-us.html" class="mobile-menu__link">Vacancies</a>
            </li>
            <li class="mobile-menu__item">
              <a href="contact.html" class="mobile-menu__link">Contact</a>
            </li>
            
          </ul>
        </div>
      </nav>
      <img
        class="section-contact__image-small-logo"
        src="../img/logo.png"
        alt="small-logo"
      />

      <img
        class="section-contact__image-logo"
        src="../img/logo.png"
        alt="logo"
      />
      <img
        class="section-contact__image-globe1"
        src="../img/tin-can-telephone.png"
        alt="logo"
      />
      <div class="section-contact__text">
        <p>
          Interested in our expertise, then please call us – we like to talk
        </p>    
      </div>
      <div class="section-contact__phone">
        <span>
          020 7397 0620
      </span>    
      </div>
      
      <footer>
        <div class="social-networks">
            <a href="#">
              <span>
                  <img src="../img/linkedinn.png" alt="linkedin icon">
              </span>
          </a>
          <a href="#">
              <span>
                  <img src="../img/twitter.png" alt="twitter icon">
              </span>
          </a>
          <a href="#">
            <span>
              <img src="../img/facebook.png" alt="facebook icon">
            </span> 
          </a>
      </div>
    
      <div class="standards">
      <a href="#">
        <span>
            <img class="img-1" src="../img/oracle.jpeg" alt="Oracle">
        </span>
    </a>
    <a href="#">
        <span>
            <img class="img-2" src="../img/gss-logo.png" alt="GSS logo">
        </span>
    </a>
    <a href="#">
       <span>
        <img class="img-3" src="../img/iso-9001.png" alt="ISO 9001">
       </span> 
    </a>
    <a href="#">
      <span>
       <img class="img-4" src="../img/iso-27001.png" alt="ISO 27001">
      </span> 
   </a>
      </div>
      </footer>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
