<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//db.onlinewebfonts.com/c/0a0cbbd2ee416efdde8260f3aafa0d14?family=Morion+Bold" rel="stylesheet" type="text/css"/>
    <title>Fincore</title>
</head>
<body>

   <section class="section-next-gen">
    <nav class="desktop-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/partials/working-with-us.html">Services</a></li>
            <li><a href="#">Vacancies</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
        <label for="checkbox" class="mobile-menu__btn"><div class="mobile-menu__icon"></div></label>
        <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Home</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Services</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Vacancies</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Contacts</a></li>
        </ul>
        </div>
    </nav>
        <img class="section-next-gen__image-small-logo" src="/img/small-logo.png" alt="small-logo">

    <img class="section-next-gen__image-draw" src="/img/Fincore-Drawings_4353-coloured.png" alt="next-gen">
    <!-- <img class="section-next-gen__image-logo" src="/img/small-logo.png" alt="logo"> -->
    <div class="section-next-gen__text">
     <h1>Next-Gen Platforms for NewAge Gaming</h1>
     <p class="p1">Our developers (or code-breakers, as we like to call them) provide ground-breaking <br/>
        software that enables our clients to achieve beyond their perceived limits. <br/>
        This further improves innovatation and expectation – leading to greater insight <br/>
        in how data can help to streamline systems and create efficiency.</p>
     </div>
</section>
</body>
</html>
