<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/style.css" />
    <link rel="stylesheet" href="../css/media-query/media-query.css" />
    <title>Fincore</title>
  </head>
  <body>
    <section class="section-technology">
      <nav class="desktop-menu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="next-gen.html">Platforms</a></li>
          <li><a href="background.html">Background</a></li>
          <li><a href="animation.html">Animation</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="working-with-us.html">Vacancies</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox" />
        <label for="checkbox" class="mobile-menu__btn"
          ><div class="mobile-menu__icon"></div
        ></label>
        <div class="mobile-menu__container">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home</a>
            </li>
            <li class="mobile-menu__item">
              <a href="next-gen.html" class="mobile-menu__link">Platforms</a>
            </li>
            <li class="mobile-menu__item">
              <a href="background.html" class="mobile-menu__link">Background</a>
            </li>
            <li class="mobile-menu__item">
              <a href="animation.html" class="mobile-menu__link">Animation</a>
            </li>
            <li class="mobile-menu__item">
              <a href="technology.html" class="mobile-menu__link">Technology</a>
            </li>
            <li class="mobile-menu__item">
              <a href="working-with-us.html" class="mobile-menu__link">Vacancies</a>
            </li>
            <li class="mobile-menu__item">
              <a href="contact.html" class="mobile-menu__link">Contact</a>
            </li>

          </ul>
        </div>
      </nav>
      <img
        class="section-technology__image-small-logo"
        src="../img/small-logo.png"
        alt="small-logo"
      />

      <img
        class="section-technology__image-draw"
        src="../img/ai-face-painting.png"
        alt="next-gen"
      />
      <!-- <img class="section-next-gen__image-logo" src="/img/small-logo.png" alt="logo"> -->
      <div class="section-technology__text">
        <h1>Technology</h1>
        <p class="p1">
            Our revolutionary facial recognition software operate autonomously protecting the customer’s identity, yet allowing<br class="br" />
            detection of self-disclosure and blacklisting when appropriate.</p>
            <p class="p1">
                Our Data Science applications have enabled great leaps forward, within sports betting scenarios.
            </p>
            <p class="p1">
                In the financial services sector, we maintain a long-term relationship with the European Central Bank, powering a data<br class="br" />
                application that models every financial instrument in every EU member state – an exceptionally complex task against which<br class="br" />
                we have always delivered.
            </p>
            <p class="p1">
                In 2016, we launched a data management product that built on this experience, and which can be used in any market sector<br class="br" />
                that handles large scale or complex data.
            </p>
            <p class="p1">
                Our workflow and data management products both harness the power of data to transform the way organisations work, and<br class="br" />
                we make them available, together, or separately, as the <span>Finworks Platform.</span>
            </p>
            <p class="p1">
                Our unique ability is to interpret the place of data in the world, and to then create software that creates solutions for those<br class="br" />
                problems that have been identified.
            </p>
            <p class="p1">
                This is challenging, both intellectually and technically, but it creates a kaleidoscope of possibilities. As our clients<br class="br" />
                understand, these possibilities are not restricted to any particular sector. Every kind of business, market, event or process can<br class="br" />
                be analysed as data.
            </p>
            <h2>We transform organisations in any sector.
            </h2>
      </div>
    </section>
  </body>
</html>
