<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//db.onlinewebfonts.com/c/0a0cbbd2ee416efdde8260f3aafa0d14?family=Morion+Bold" rel="stylesheet" type="text/css"/>
    <title>Fincore</title>
</head>
<body>

   <section class="section-work">
    <nav class="desktop-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/partials/working-with-us.html">Services</a></li>
            <li><a href="#">Vacancies</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
        <label for="checkbox" class="mobile-menu__btn"><div class="mobile-menu__icon"></div></label>
        <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Home</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Services</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Vacancies</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Contacts</a></li>
        </ul>
        </div>
    </nav>
        <img class="section-work__image-small-logo" src="/img/logo.png" alt="small-logo">

    <img class="section-work__image-draw" src="/img/Fincore-Drawings_4360-colour copy.png" alt="drawings">
    <img class="section-work__image-logo" src="/img/logo.png" alt="logo">
    <div class="section-work__text">
     <h1>Working with us</h1>
     <p class="p1">Our business is built on exceptional work by a world-class team of strategists, <br/>
        code-breakers, data scientists, solutions architects, systems architects, <br/>
        business analysts, project managers, problem-solvers…</p>
     <p class="p2">We operate in an open, collaborative and creative working environment, where individuals have a high degree  <br/>
        of autonomy and responsibility. It’s not for everyone, but if it’s for you, you won’t find a better place to work. <br/>
        We’re always interested in hearing from like-minded people with talent and potential. If you are interested in working at  <br/>
        Fincore, please look at our open positions, or get in touch and send us your CV. No agencies, please.</p>
    </div>
</section>
</body>
</html>
