<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style/style.css" />
    <link rel="stylesheet" href="../css/media-query/media-query.css" />
    <title>Fincore</title>
  </head>
  <body>
    <section class="section-work">
      <nav class="desktop-menu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="next-gen.html">Platforms</a></li>
          <li><a href="background.html">Background</a></li>
          <li><a href="animation.html">Animation</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="working-with-us.html">Vacancies</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox" />
        <label for="checkbox" class="mobile-menu__btn"
          ><div class="mobile-menu__icon"></div
        ></label>
        <div class="mobile-menu__container">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="../index.html" class="mobile-menu__link">Home</a>
            </li>
            <li class="mobile-menu__item">
              <a href="next-gen.html" class="mobile-menu__link">Platforms</a>
            </li>
            <li class="mobile-menu__item">
              <a href="background.html" class="mobile-menu__link">Background</a>
            </li>
            <li class="mobile-menu__item">
              <a href="animation.html" class="mobile-menu__link">Animation</a>
            </li>
            <li class="mobile-menu__item">
              <a href="technology.html" class="mobile-menu__link">Technology</a>
            </li>
            <li class="mobile-menu__item">
              <a href="working-with-us.html" class="mobile-menu__link"
                >Vacancies</a
              >
            </li>
            <li class="mobile-menu__item">
              <a href="contact.html" class="mobile-menu__link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <img
        class="section-work__image-small-logo"
        src="../img/logo.png"
        alt="small-logo"
      />

      <img
        class="section-work__image-draw"
        src="../img/fincore-drawings.png"
        alt="drawings"
      />
      <img class="section-work__image-logo" src="../img/logo.png" alt="logo" />
      <div class="section-work__text">
        <h1>Working with us</h1>
        <div class="paragraphs">
          <p class="p1">
            Our business is built on exceptional work by a world-class team of
            strategists, code-breakers, data scientists, solutions architects,
            systems architects, business analysts, project managers,
            problem-solvers…
          </p>
          <p class="p2">
            We operate in an open, collaborative and creative working
            environment, where individuals have a high degree of autonomy and
            responsibility. It’s not for everyone, but if it’s for you, you
            won’t find a better place to work. We’re always interested in
            hearing from like-minded people with talent and potential. If you
            are interested in working at Fincore, please look at our open
            positions, or get in touch and send us your CV.
            <em> No agencies, please.</em>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
